.navbar-links li {
    cursor: pointer;
    font-weight: bold;
    position: relative;
}

.navbar-links li::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    height: 2px;
    width: 0;
    transition: width 1s ease-in-out;
}