@import url("./styles/nav.css");
@import url("./styles/header.css");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 3rem;
  text-align: center;
}

.onboarding {
  height: calc(100vh - 172px);
}
